# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Storage
/storage/*
!/storage/.keep

# Ignore local config
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore Byebug command history file.
.byebug_history
.pry_history

notes.txt